# PYTHON Custom Snippets
# 	for Ultisnips default see plugged/Ultisnips


#New document
snippet new "#!/usr/bin/env python" b
# $1
#	Author: <++>
#	Date: <++>
#	Description:
'''
<++>
'''

def main():
	<++>
main()
endsnippet



